/* .bottom-link path {
  fill: var(--color-secondary);
} */

.bottom-link.active {
}

.bottom-link {
  position: relative;
}

.bottom-link div {
  position: absolute;

  width: 100%;
  height: 100%;

  border: 1.6px solid var(--color-black);
  background: var(--color-orange);

  box-shadow: inset 0 -8px 0 var(--color-orange-dark), inset 0 4px 0 var(--color-orange-light);

  z-index: -1;
  border-radius: 8px;

  transform: scale3d(0.1, 0.1, 1);
  opacity: 0;
}
