.ton-prize-pool {

  &::before {
    content: '';
    position: absolute;

    top: -3.2px;
    left: -3.2px;
    z-index: -1;

    height: 60px;
    width: 60px;

    border-radius: inherit;
    background: linear-gradient(to bottom, rgba(96, 94, 84, 0) 40%, rgba(96, 94, 84, 1) 100%);
  }
}
