
.menu span {
  transition: 0.3s;
}

.menu.clicked span:nth-child(1) {
  transform: translate3d(0, 5px, 0) rotate(45deg);
}

.menu.clicked span:nth-child(2) {
  opacity: 0;
}
.menu.clicked span:nth-child(3) {
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}

.burger {
  position: relative;

  &::after {
    content: '';
    position: absolute;

    background: var(--color-white);
    width: 100%;
    height: 2px;

    border-radius: 2px;
  }
}
