.purple-block {
  position: relative;
  background: var(--color-purple-light);
  box-shadow: inset 0 -24px 0 var(--color-purple-semi-transparent),
    inset 0 4px 0 var(--color-purple-soft);
}

.purple-block-even {
  box-shadow: inset 0 -2px 0 var(--color-purple-semi-transparent),
    inset 0 2px 0 var(--color-purple-soft);
}

.purple-block-with-glitter {
  &::before {
    content: '';

    width: 10px;
    height: 8px;

    background-color: var(--color-glitter);
    border-radius: 50%;

    transform: rotate(-20deg);
    position: absolute;

    top: 6px;
    left: 7px;
  }
}
