.top-menu {
  transition: 0.3s;
}

.top-menu.section-opened {
  padding-left: 5.625rem !important;
}

.top-menu.section-opened .top-menu-boosts {
  margin-left: 2rem;
}

.top-menu.spin-opened .top-menu-boosts,
.top-menu.spin-opened .top-menu-coins {
  opacity: 0;
}

.top-menu.section-opened .top-menu-boosts,
.top-menu.section-opened .top-menu-coins {
  width: 6.5rem;
}

.top-menu.game-page .top-menu-boosts,
.top-menu.game-page .top-menu-coins {
  width: 5.875rem;
}

.top-menu.game-page .top-menu-boosts {
  margin-left: 2rem;
}

.top-menu.game-page .top-menu-btl {
  margin-left: 2.2rem;
}

.top-menu.section-opened .top-menu-btl {
  opacity: 0;
}


.top-menu.game-page .top-menu-btl {
  transform: none;
}


.section-close-button {
  transition: 0.3s;
  position: absolute !important;
  left: -3.75rem;
}

.section-close-button.active {
  left: 1.25rem;
}

.top-menu-boosts {
  transition: 0.3s;
}

.top-menu-coins {
  transition: 0.3s;
}

/* @media only screen and (max-width: 310px) {
  .top-menu {
    padding-left: 0.5rem !important;
  }
} */
