

/* .sidebar-menu-button {
  box-shadow: inset 0 -2px 0 var(--color-biege-dark), inset 0 2px 0 var(--color-biege-light);
} */




.stage {
  box-shadow: 0 -2px 0 #dedbcc;
}

.stage-bg {
  position: absolute;

  width: 100%;
  height: 52px;

  background: #c7c5bc;
  border-radius: 12px;

  top: 0;
  left: 0;

  z-index: -1;
}

/* .sidebar-menu {
    background: linear-gradient(0deg, #D7D5CC 60%, #C6C4BA 100%);
} */

.stage-counter {
  box-shadow: inset 0 -2px 0 var(--color-biege-dark), inset 0 2px 0 var(--color-biege-light);
}
