.strikethrough {
  &::after {
    content: '';
    position: absolute;

    width: 1.875rem;
    height: 0.125rem;

    top: 54%;
    left: -0.125rem;

    transform: translateY(-50%);

    background: var(--color-orange);
    border: 0.0125rem solid var(--color-black);
    box-shadow: 0 0.0625rem 0 var(--color-black);
  }
}

@media only screen and (max-width: 300px) {
  .boost-gold-mining-popup-cross {
    top: -4.2rem !important;
  }
}
