
.rating-yourself {
    transition: .3s;
    bottom: -6.25rem;

    &::after {
        content: '';
        position: absolute;

        width: calc(100% + 2.5rem);
        height: 8.125rem;

        bottom: -1.25rem;
        left: -1.25rem;

        background: linear-gradient(to top, #ECE9E0 40%, rgba(236, 233, 224, 0) 100%);
        z-index: -1;
    }
}

.rating-yourself.active {
    bottom: 5.75rem;
}